// main: ../main.scss
/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
    color: var(--default-color);
    background-color: var(--background-color);
    transition: all 0.5s;
    z-index: 997;
    border-bottom: 1px solid var(--background-color);

    .logo {
        line-height: 1;

        img {
            max-height: 36px;
            margin-right: 8px;
        }

        h1 {
            font-size: 32px;
            margin: 0;
            font-weight: 400;
            color: var(--heading-color);
        }

        i {
            font-size: 28px;
            margin-right: 6px;
        }
    }

    .scrolled & {
        border-color: color-mix(in srgb, var(--background-color) 90%, white 20%);
    }
}
